.background-image {
  --background: url("/assets/images/background-login.jpg") no-repeat center
    center / cover;
}
ion-card {
  margin-top: 15vh;
}
h1 {
  margin: 50px 40px 20px 40px;
}
h2 {
  margin: 0px 40px;
  color: #f5efe7;
}

ion-button {
  margin: 16px 16px 10px 16px;
  width: 90% !important;
}
