<ion-content class="background-image">
  <ion-text color="primary">
    <h1>Register</h1>
    <h2><i>Create your new account</i></h2>
  </ion-text>

  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Details of the user </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-input
              label="First name"
              labelPlacement="floating"
              placeholder="Enter first name"
              [formControl]="formGroupControls.FirstName"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Last name"
              labelPlacement="floating"
              placeholder="Enter last name"
              [formControl]="formGroupControls.LastName"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-input
              label="Email"
              labelPlacement="floating"
              placeholder="Enter email"
              [formControl]="formGroupControls.Email"
            ></ion-input>
          </ion-item>
          <ion-item>
            <ion-select
              aria-label="tyoe"
              label="Role"
              [formControl]="formGroupControls.UserType"
            >
              <ion-select-option [value]="1">Admin</ion-select-option>
              <ion-select-option [value]="2">User</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-select
              aria-label="position"
              label="Position"
              [formControl]="formGroupControls.UserPosition"
            >
              <ion-select-option [value]="1">CEO</ion-select-option>
              <ion-select-option [value]="2">Project Manager</ion-select-option>
              <ion-select-option [value]="3"
                >Backend Developer</ion-select-option
              >
              <ion-select-option [value]="4"
                >Frontend Developer</ion-select-option
              >
              <ion-select-option [value]="5">QA</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-grid>
      <ion-row>
        <ion-button shape="round" type="submit" [disabled]="!canSubmit"
          >Register</ion-button
        >
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-text routerLink="/auth/login"
          >Already have an account? Login now!</ion-text
        >
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
