<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-grid>
        <ion-row>
          <ion-col size="10">{{
            leaveTypes | leaveTypeName : leaveRequest.LeaveTypeId
          }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-grid>
      <ion-row>
        <ion-col class="label-col">Dates:</ion-col>
        <ion-col class="value-col"
          >{{ leaveRequest.DateFrom | date : "shortDate" }} -
          {{ leaveRequest.DateTo | date : "shortDate" }}</ion-col
        >
      </ion-row>
      <hr />
      <ion-row>
        <ion-col class="label-col">Duration:</ion-col>
        <ion-col class="value-col"
          >{{ leaveRequest.DayCount
          }}{{ leaveRequest.DayCount === 1 ? " day" : " days" }}</ion-col
        >
      </ion-row>
      <hr />
      <ion-row>
        <ion-col class="label-col">Status:</ion-col>
        <ion-col class="value-col">{{
          leaveRequest.Status | leaveRequestStatusToString
        }}</ion-col>
      </ion-row>
      <hr *ngIf="leaveRequest.Status !== 1" />
      <ion-row *ngIf="leaveRequest.Status !== 1">
        <ion-col class="label-col">Comment:</ion-col>
        <ion-col class="value-col">{{ leaveRequest.Comment }}</ion-col>
      </ion-row>
      <hr *ngIf="leaveRequest.Status !== 1" />
      <ion-row *ngIf="leaveRequest.Status !== 1">
        <ion-col class="label-col">Reviewed by:</ion-col>
        <ion-col class="value-col">{{
          users | userFullName : leaveRequest.UpdatedBy
        }}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-buttons>
      <ion-button
        color="transparent"
        [attr.id]="'delete-' + leaveRequest.Id"
        *ngIf="leaveRequest.Status === 1"
      >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-alert
        [attr.trigger]="'delete-' + leaveRequest.Id"
        class="custom-alert"
        header="Are you sure you want to delete leave request?"
        [buttons]="alertButtons"
        *ngIf="leaveRequest.Status === 1"
      ></ion-alert>
      <ion-button
        color="transparent"
        (click)="onClick()"
        *ngIf="leaveRequest.Status === 1"
      >
        <ion-icon slot="icon-only" name="pencil"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-card-content>
</ion-card>
