<ion-content class="background-image">
  <ion-card color="transparent">
    <ion-card-header>
      <ion-card-title>Track your absence easily</ion-card-title>
      <ion-card-subtitle
        ><i>Login or Register to get started!</i></ion-card-subtitle
      >
    </ion-card-header>

    <ion-card-content>
      <ion-button
        shape="round"
        routerLink="/auth/login"
        color="transparent"
        class="opacity-button"
        >Login</ion-button
      >
      <ion-button
        shape="round"
        routerLink="/auth/register"
        color="transparent"
        class="register-button"
        >Create an account</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
