// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-color-primary: #213555;
  --ion-background-color: #f5efe7;
  --ion-text-color: #213555;
  --ion-button-color: #f5efe7;
  --ion-tab-bar-background: #213555;
  --ion-tab-bar-color: #f5efe7;
  --ion-tab-bar-color-selected: #f5efe7;
  --ion-icon-color: #f5efe7;
  --ion-toolbar-background: #213555;
  --ion-toolbar-color: #f5efe7;
  --ion-card-background: #ffffff;
  --ion-item-background: #ffffff;
}
