<div class="user-avatar">
  <div class="user" [style.margin]="margin">
    <!-- If User has an image -->
    <img
      *ngIf="imageSrc !== ''"
      [src]="imageSrc"
      [style.min-width.px]="hasBorder ? size - 10 : size"
      [style.max-width.px]="size"
      [style.min-height.px]="hasBorder ? size - 10 : size"
      [style.max-height.px]="size"
      [class.has-border]="hasBorder"
      alt="User Profile Image"
    />

    <!-- If the User does not have an image, show the default circle with the User's initials -->
    <div
      *ngIf="imageSrc === ''"
      class="name"
      [class]="avatarClass"
      [style.color]="color"
      [style.background-color]="backgroundColor"
      [style.min-width.px]="size"
      [style.max-width.px]="size"
      [style.min-height.px]="size"
      [style.max-height.px]="size"
      [style.font-size.px]="fontSize"
    >
      <!-- User Initials -->
      <span *ngIf="userName != ''">{{ userName | getInitials }}</span>
    </div>
  </div>
</div>
