/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

ion-button {
  flex: 1; /* ravnomerno zauzimanje prostora */
  margin: 10px 8px; /* horizontalni razmak između dugmadi */
  box-sizing: border-box; /* da padding i border računaju u širinu */

  --border-radius: 20px;
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 24px;
  --padding-end: 24px;
  letter-spacing: 1.5px;

  --background: #3e5879;
  --background-activated: #213555;
}
ion-buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

ion-toolbar {
  height: 60px;
}
ion-toolbar ion-title {
  height: 60px;
  text-align: center;
  line-height: 40px;
  font-size: 1.5rem;
}
ion-progress-bar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  z-index: 10;
}
ion-back-button {
  height: 60px;
}
ion-select {
  height: 56px;
}
ion-input {
  height: 56px;
}
ion-datetime-button {
  height: 56px;
}
h1 {
  color: white;
  font-size: 40px;
}
ion-item {
  padding: 0px;
  padding-right: 16px;
}

.md .tabs-bottom {
  transform: translateY(-56px) !important;
}
.ios .tabs-bottom {
  transform: translateY(-50px) !important;
}
.md .header-top {
  top: 56px !important;
}
.ios .header-top {
  top: 44px !important;
}
.custom-toast {
  color: (--ion-color-white);
}
ion-backdrop {
  opacity: 0 !important;
  background: var(--ion-background-color);
}
.loading-wrapper.sc-ion-loading-md {
  box-shadow: none;
  background: var(--ion-background-color);
}
ion-alert .alert-button-group {
  justify-content: center !important;
  gap: 1rem;
}
ion-segment-button {
  --indicator-color: var(--ion-color-primary);
}

/* Material Design styles */
ion-segment-button.md {
  --color: #000;
  --color-checked: var(--ion-color-primary);
  --indicator-height: 4px;
}

/* iOS styles */
ion-segment-button.ios {
  --color: var(--ion-color-primary);
  --color-checked: #fff;
  --border-radius: 20px;
}
