<app-header
  title="Edit leave request"
  back="leave-requests"
  [isLoading]="isLoading"
></app-header>

<ion-content [fullscreen]="true">
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Details of the leave request</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-select
              aria-label="leaveType"
              label="Leave type"
              [formControl]="formGroupControls.LeaveTypeId"
            >
              <ion-select-option
                *ngFor="let leaveType of leaveTypes"
                [value]="leaveType.Id"
              >
                {{ leaveType.Name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Date from</ion-label>
            <ion-datetime-button datetime="datetimeFrom"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetimeFrom"
                  presentation="date"
                  locale="sr-Latn-RS"
                  [formatOptions]="{
                date: {
                  weekday: 'short',
                  month: 'long',
                  day: '2-digit',
                }
              }"
                  [formControl]="formGroupControls.DateFrom"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item>
            <ion-label>Date to</ion-label>
            <ion-datetime-button datetime="datetimeTo"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime
                  id="datetimeTo"
                  presentation="date"
                  locale="sr-Latn-RS"
                  [formatOptions]="{
                date: {
                  weekday: 'short',
                  month: 'long',
                  day: '2-digit',
                }
              }"
                  [formControl]="formGroupControls.DateTo"
                ></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item>
            <ion-textarea
              labelPlacement="floating"
              label="Description"
              [value]="leaveRequest.Description"
              placeholder="Enter description"
              [formControl]="formGroupControls.Description"
            ></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-button shape="round" type="submit" [disabled]="!canSubmit"
      >Edit request</ion-button
    >
  </form>
</ion-content>
